

<header >
  <h3>WELCOME TO OKTYBLOG</h3>
</header>




  <div id="{{brick.id}}"  draggable="true" masonry load-images="true">

       <div class="masonry-brick disposition" ng-repeat="brick in vm.tiles" ng-click="vm.gotoSalesforce(brick) " >
              <img ng-src="{{ brick.src }}" alt="A masonry brick">
      </div>
  </div>








<footer>
  <div class="btn btn-success" href = "#parrafo">

    Learn More

  </div>

  <p id="parrafo" align = "left" style = "margin-top:40px">
      <small>
          Lorem ipsum dolor sit amet, ndwoejd ojwdoej vu owjdowejdo ojdowejd
          dweidbiwedni  bat iwnedi niweweuinfiewn  yec inwefienw inwifniwe
          hwodnfdfldnc nou de caecmi ncoscdwcm ouy malesuada. Duis nec nis
          ccmomcowm cayt cmosdccv cmuxsx cncnjcnwucnu tellus pulivan scelerique
          id nec nibh
      </small>
    </p>
</footer>
